# Use-case: An Online Shopping Mall has provided this dataset. Your job is to create a model that can predict whether the customer will shop or not based on customer's age and estimated salary

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
#Assumption is: Data Preprocesssing is DONE
# Check whether the dataset is a balanced dataset or not
# 0 --- bad customer (no purchase)
# 1 --- good customer (purchase)

data.Purchased.value_counts()

#Binary Classification Usecase

0    257
1    143
Name: Purchased, dtype: int64

In [ ]:
#Here the dataset is Unbalanced

In [ ]:
# Rules for Classification (From Sklearn)
# 1. Data must be complete
# 2. Data must be strictly numeric
# 3. Features must be in the form of 2d numpy array
# 4. Label must be in the form of 1d numpy array

In [ ]:
#Features ad Label
features = data.iloc[:,[2,3]].values
label = data.iloc[:,4].values

In [ ]:
#Create Good Model
# Finding a Generalized Model

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

for i in range(1,401):
    X_train,X_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=i)
    model = LogisticRegression()
    model.fit(X_train,y_train)
    
    train_score = model.score(X_train,y_train)
    test_score = model.score(X_test,y_test)
    
    if test_score > train_score:
        print("Test {} Train {} RS {}".format(test_score,train_score,i))

Test 0.6875 Train 0.63125 RS 3
Test 0.7375 Train 0.61875 RS 4
Test 0.6625 Train 0.6375 RS 5
Test 0.65 Train 0.640625 RS 6
Test 0.675 Train 0.634375 RS 7
Test 0.675 Train 0.634375 RS 8
Test 0.65 Train 0.640625 RS 10
Test 0.6625 Train 0.6375 RS 11
Test 0.7125 Train 0.625 RS 13
Test 0.675 Train 0.634375 RS 16
Test 0.7 Train 0.628125 RS 17
Test 0.7 Train 0.628125 RS 21
Test 0.65 Train 0.640625 RS 24
Test 0.6625 Train 0.6375 RS 25
Test 0.75 Train 0.615625 RS 26
Test 0.675 Train 0.634375 RS 27
Test 0.7 Train 0.628125 RS 28
Test 0.6875 Train 0.63125 RS 29
Test 0.6875 Train 0.63125 RS 31
Test 0.6625 Train 0.6375 RS 37
Test 0.7 Train 0.628125 RS 39
Test 0.7 Train 0.628125 RS 40
Test 0.65 Train 0.640625 RS 42
Test 0.725 Train 0.621875 RS 46
Test 0.65 Train 0.640625 RS 48
Test 0.675 Train 0.634375 RS 50
Test 0.65 Train 0.640625 RS 51
Test 0.65 Train 0.640625 RS 54
Test 0.7 Train 0.634375 RS 55
Test 0.65 Train 0.640625 RS 56
Test 0.6625 Train 0.6375 RS 58
Test 0.6875 Train 0.63125 RS 59
Test 0.7 Train 0.628125 RS 60
Test 0.6625 Train 0.6375 RS 62
Test 0.6875 Train 0.63125 RS 63
Test 0.65 Train 0.640625 RS 66
Test 0.7 Train 0.628125 RS 70
Test 0.65 Train 0.640625 RS 74
Test 0.65 Train 0.640625 RS 75
Test 0.6875 Train 0.63125 RS 76
Test 0.6875 Train 0.63125 RS 80
Test 0.675 Train 0.634375 RS 81
Test 0.875 Train 0.8375 RS 82
Test 0.7 Train 0.628125 RS 83
Test 0.675 Train 0.634375 RS 84
Test 0.675 Train 0.634375 RS 86
Test 0.65 Train 0.640625 RS 87
Test 0.675 Train 0.634375 RS 90
Test 0.65 Train 0.640625 RS 91
Test 0.7 Train 0.628125 RS 93
Test 0.7375 Train 0.61875 RS 94
Test 0.65 Train 0.640625 RS 97
Test 0.7 Train 0.628125 RS 99
Test 0.675 Train 0.634375 RS 101
Test 0.6625 Train 0.6375 RS 102
Test 0.725 Train 0.621875 RS 103
Test 0.65 Train 0.640625 RS 106
Test 0.65 Train 0.640625 RS 109
Test 0.75 Train 0.615625 RS 114
Test 0.675 Train 0.634375 RS 116
Test 0.65 Train 0.640625 RS 117
Test 0.675 Train 0.634375 RS 119
Test 0.65 Train 0.640625 RS 120
Test 0.6625 Train 0.6375 RS 121
Test 0.725 Train 0.621875 RS 125
Test 0.65 Train 0.640625 RS 127
Test 0.65 Train 0.640625 RS 128
Test 0.6875 Train 0.63125 RS 129
Test 0.6875 Train 0.63125 RS 130
Test 0.6625 Train 0.6375 RS 132
Test 0.6875 Train 0.63125 RS 133
Test 0.675 Train 0.634375 RS 134
Test 0.675 Train 0.634375 RS 138
Test 0.7 Train 0.628125 RS 139
Test 0.7125 Train 0.63125 RS 141
Test 0.725 Train 0.621875 RS 142
Test 0.6625 Train 0.6375 RS 143
Test 0.6625 Train 0.6375 RS 145
Test 0.7125 Train 0.625 RS 150
Test 0.65 Train 0.640625 RS 152
Test 0.6625 Train 0.6375 RS 154
Test 0.675 Train 0.634375 RS 155
Test 0.8875 Train 0.834375 RS 158
Test 0.6625 Train 0.6375 RS 159
Test 0.7125 Train 0.625 RS 161
Test 0.675 Train 0.634375 RS 162
Test 0.6625 Train 0.6375 RS 163
Test 0.65 Train 0.640625 RS 165
Test 0.6625 Train 0.6375 RS 169
Test 0.675 Train 0.634375 RS 170
Test 0.7125 Train 0.625 RS 173
Test 0.65 Train 0.640625 RS 176
Test 0.6625 Train 0.6375 RS 178
Test 0.6625 Train 0.6375 RS 179
Test 0.6625 Train 0.6375 RS 180
Test 0.6625 Train 0.6375 RS 181
Test 0.65 Train 0.640625 RS 184
Test 0.6625 Train 0.6375 RS 185
Test 0.675 Train 0.634375 RS 188
Test 0.7375 Train 0.61875 RS 189
Test 0.7 Train 0.628125 RS 192
Test 0.65 Train 0.640625 RS 193
Test 0.7 Train 0.628125 RS 194
Test 0.65 Train 0.640625 RS 195
Test 0.6625 Train 0.6375 RS 196
Test 0.675 Train 0.634375 RS 198
Test 0.8875 Train 0.8375 RS 199
Test 0.6875 Train 0.63125 RS 204
Test 0.6625 Train 0.6375 RS 209
Test 0.7 Train 0.628125 RS 211
Test 0.65 Train 0.640625 RS 212
Test 0.6625 Train 0.6375 RS 215
Test 0.6625 Train 0.6375 RS 217
Test 0.6875 Train 0.63125 RS 220
Test 0.6625 Train 0.6375 RS 223
Test 0.6625 Train 0.6375 RS 225
Test 0.6625 Train 0.6375 RS 226
Test 0.6875 Train 0.63125 RS 229
Test 0.65 Train 0.640625 RS 232
Test 0.7125 Train 0.625 RS 233
Test 0.6625 Train 0.6375 RS 234
Test 0.6625 Train 0.6375 RS 235
Test 0.6875 Train 0.63125 RS 238
Test 0.725 Train 0.621875 RS 239
Test 0.65 Train 0.640625 RS 241
Test 0.725 Train 0.621875 RS 242
Test 0.6625 Train 0.6375 RS 244
Test 0.675 Train 0.634375 RS 245
Test 0.6875 Train 0.63125 RS 246
Test 0.7 Train 0.628125 RS 247
Test 0.6875 Train 0.63125 RS 248
Test 0.65 Train 0.640625 RS 251
Test 0.7 Train 0.628125 RS 252
Test 0.65 Train 0.640625 RS 253
Test 0.675 Train 0.634375 RS 255
Test 0.75 Train 0.615625 RS 257
Test 0.7 Train 0.628125 RS 260
Test 0.6625 Train 0.6375 RS 261
Test 0.65 Train 0.640625 RS 263
Test 0.6625 Train 0.6375 RS 265
Test 0.8625 Train 0.840625 RS 266
Test 0.6875 Train 0.63125 RS 269
Test 0.6625 Train 0.6375 RS 275
Test 0.7 Train 0.628125 RS 276
Test 0.6625 Train 0.6375 RS 277
Test 0.7 Train 0.628125 RS 278
Test 0.7125 Train 0.625 RS 279
Test 0.6875 Train 0.63125 RS 282
Test 0.6875 Train 0.63125 RS 283
Test 0.7125 Train 0.625 RS 287
Test 0.6625 Train 0.6375 RS 292
Test 0.65 Train 0.640625 RS 293
Test 0.6625 Train 0.6375 RS 294
Test 0.675 Train 0.634375 RS 296
Test 0.675 Train 0.634375 RS 300
Test 0.675 Train 0.634375 RS 302
Test 0.6625 Train 0.6375 RS 303
Test 0.8625 Train 0.834375 RS 305
Test 0.6875 Train 0.63125 RS 306
Test 0.7 Train 0.628125 RS 310
Test 0.7125 Train 0.625 RS 311
Test 0.8625 Train 0.834375 RS 313
Test 0.9125 Train 0.834375 RS 314
Test 0.7 Train 0.628125 RS 315
Test 0.6625 Train 0.6375 RS 317
Test 0.7625 Train 0.6125 RS 318
Test 0.6625 Train 0.6375 RS 319
Test 0.65 Train 0.640625 RS 321
Test 0.7125 Train 0.625 RS 322
Test 0.675 Train 0.634375 RS 323
Test 0.6625 Train 0.6375 RS 325
Test 0.7125 Train 0.625 RS 327
Test 0.6625 Train 0.6375 RS 328
Test 0.7 Train 0.628125 RS 329
Test 0.65 Train 0.640625 RS 330
Test 0.65 Train 0.640625 RS 332
Test 0.675 Train 0.634375 RS 336
Test 0.6875 Train 0.63125 RS 340
Test 0.65 Train 0.640625 RS 344
Test 0.6625 Train 0.6375 RS 345
Test 0.7 Train 0.628125 RS 346
Test 0.65 Train 0.640625 RS 348
Test 0.725 Train 0.621875 RS 349
Test 0.6875 Train 0.63125 RS 350
Test 0.675 Train 0.634375 RS 352
Test 0.725 Train 0.621875 RS 353
Test 0.675 Train 0.634375 RS 354
Test 0.6875 Train 0.63125 RS 355
Test 0.6625 Train 0.6375 RS 356
Test 0.7375 Train 0.61875 RS 357
Test 0.6625 Train 0.6375 RS 358
Test 0.6625 Train 0.6375 RS 359
Test 0.7 Train 0.628125 RS 360
Test 0.65 Train 0.640625 RS 361
Test 0.6625 Train 0.6375 RS 362
Test 0.65 Train 0.640625 RS 363
Test 0.6625 Train 0.6375 RS 364
Test 0.6875 Train 0.63125 RS 365
Test 0.6625 Train 0.6375 RS 366
Test 0.6625 Train 0.6375 RS 368
Test 0.65 Train 0.640625 RS 370
Test 0.725 Train 0.621875 RS 371
Test 0.65 Train 0.640625 RS 373
Test 0.7 Train 0.628125 RS 376
Test 0.6875 Train 0.63125 RS 378
Test 0.675 Train 0.634375 RS 379
Test 0.65 Train 0.640625 RS 387
Test 0.6625 Train 0.6375 RS 393
Test 0.675 Train 0.634375 RS 396
Test 0.7 Train 0.628125 RS 397
Test 0.7125 Train 0.625 RS 400

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=199)
finalModel = LogisticRegression()
finalModel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
print(finalModel.score(X_train,y_train))
print(finalModel.score(X_test,y_test))

0.8375
0.8875

In [ ]:
#Check whether to Accept or Reject the Model
# Since the dataset is Unbalanced You need to Check for Non-Tolerable Areas
#
# 0 ---> Bad Customer
# 1 ---> Good Customer
#
#
# GC 1  ----> BC 0(Non-Tolerable)
# BC ----> GC ()

#
# Precision()
# Recall ()
#

In [ ]:
from sklearn.metrics import confusion_matrix

#confusion_matrix(actualLabel, predictedLabel)
confusion_matrix(label,finalModel.predict(features))

array([[237,  20],
       [ 41, 102]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(label,finalModel.predict(features)))

              precision    recall  f1-score   support

           0       0.85      0.92      0.89       257
           1       0.84      0.71      0.77       143

    accuracy                           0.85       400
   macro avg       0.84      0.82      0.83       400
weighted avg       0.85      0.85      0.84       400

In [ ]:
0.78 >= CL ---- approve model else reject model